@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    display: flex;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Fraunces', serif;
}
.card{
    width: 500px;
    height: 400px;
    display: flex;
    background-color: hsl(0, 0%, 99%);
    justify-content: center;
    text-align: center;
    margin: auto;
    border-radius: 12px;
    margin-top: 90px;
   
}
.img{
    display: flex;
    width: 50px;
    height: 50px;
    border-left:20px;
    
}
.text{
    
    font-size: 14px;
    padding: 4px;
    text-align: left;
    margin: 20px;
    margin-top: 30px;
    
}
.text h3{
    font-size: 9px;
    color: rgb(192, 188, 188);
    padding-bottom: 20px;
    display: flex;
    font-family: 'Fraunces', serif;  
    font-family: 'Montserrat', sans-serif;  
}
.text h2{
    font-size: 25px;
    justify-content: left;
    display: flex;
}
.text p{
    display: flex;
    color: rgb(192, 188, 188);
    font-size: 11px;
    margin-top: 20px;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}
.price p{
    display: flex;
    font-size: 20px;
    font-family: 'Fraunces', serif; 
    color:  hsl(145, 32%, 39%);    
}
.price2 p{
    display: flex;
    margin-left: 100px;
    margin-top: -17px;   
    text-decoration: line-through;
}
.link a{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color:hsl(145, 32%, 39%); 
    padding: 11px;
    border-radius: 6px;
}
@media ( max-width: 475px) {
    .card{
        display: flex;
        flex-direction: column;
    }
    .img{
        src: url(/images/image-product-mobile.jpg);
    }
    
}


